#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 2em;
}

#content:hover{
    background-color:   var(--background-second-color);
}
#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    z-index: -1;
}
p{
    margin: var(--small-magin);
}
img{
    max-width: 0.5in;
    border-radius: 50%;
    margin: 1em;
}


