#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}

#contact{
    padding: 1em;
    background-color: var(--background-second-color);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid var(--hover-color);

}

#message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-second-color);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    border: 2px solid var(--hover-color);

}

input, button, textarea{
    width: 95%;
    font-size: 1.3em;
    margin: 1em;
    background-color: var(--background-forth-color);
}

input, textarea{
    padding: 0.3em;
    border-radius: 0.5em;
    border-color: var(--hover-color);
}

button{
    border: solid 2px var(--hover-color);
    background-color: var(--background-second-color);
    padding: 0.2em;
}

button:hover{
    background-color: var(--havor-second-color);
    border: solid 2px var(--background-second-color);
}

.hint{
    font-size: 1.2em;
    color: var(--hover-color);
    border: 1px double var(--main-font-color);
    padding: 0.1em;
    margin: 0.1em;
}

.hint:hover{
    background-color: var(--havor-second-color);
    color:var(--background-second-color)
}

@media only screen and (max-width:7in) {
    #main{
        flex-direction: column;
    }
}

a{
    text-decoration: none;
}