:root {
    --background-main-color: #ffffff; /* White background */
    --background-second-color: #228B22; /* Forest green background */
    --background-third-color: #FF0000; /* Red background */
    --background-forth-color: #ffd700; /* Gold background */
    --main-font-color: #333333; /* Dark gray for main text */
    --hover-color: #b22222; /* Firebrick for hover effects */
    --havor-second-color: #8b0000; /* Dark red */
    --font-size: 16px; /* Slightly larger font size for readability */
    --border-color: #228B22; /* Forest green for borders */
    --small-margin: 8px; /* Small margin for spacing */
    --button-background-color: #ffd700; /* Gold for buttons */
}


p, h1, h2, h3, div, a, span, button{
    color: var(--main-font-color);
}

body{
    background-color: var(--background-forth-color);
    width:100vw;
    height: 100vh;
}
