:root {
    --background-main-color: #f9f9f9; /* Very light gray for background */
    --background-second-color: #ffffff; /* White background */
    --background-third-color: #e0e0e0; /* Light gray background */
    --background-forth-color: #d3d3d3; /* Another shade of gray */
    --main-font-color: #333333; /* Dark gray for main text */
    --hover-color: #3498db; /* Blue for hover effects */
    --havor-second-color: #2980b9; /* Slightly darker blue */
    --font-size: 16px; /* Slightly larger font size for readability */
    --border-color: #cccccc; /* Light gray for borders */
    --small-margin: 8px; /* Small margin for spacing */
    --button-background-color: #3498db; /* Blue for buttons */
}




p, h1, h2, h3, div, a, span, button{
    color: var(--main-font-color);
}

body{
    background-color: var(--background-forth-color);
    width:100vw;
    height: 100vh;
}
