img{
    max-width: 25vw;
    border-radius: 0em;
    border: 2px solid var(--hover-color);

}

h1{
    text-align: center;
}

.skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
    margin: 0.7em;
    width: 100%;
    background-color: var(--background-second-color);
    border-radius: 1vw;
}

.description{
    background-color: var(--background-third-color);
    padding: 1.5em;
    border: 2px solid var(--hover-color);

}

@media only screen and (max-width:7in) {
    .skill{
        flex-direction: column;
        margin: 0;
        margin-bottom: 1em;
        padding: 0.5em 0;
    }
    img{
        max-width: 100%;
        margin-top: 0.5em;
        border-color: var(--background-main-color);
    }
    .description{
        border-color: var(--background-main-color);
        padding: 1.5em 0.5em;
        width: 100%;
    }
}